/* General body styles */
body {
  font-family: Arial, sans-serif; /* Ensures a modern look */
  background-color: #f4f4f4; /* Soft background color */
  margin: 0;
  padding: 20px;
  color: #333; /* Primary text color */
  
}


.buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 170px;
  padding-right: 170px
}





/* Header styles */
.header {
  color: #0275d8; /* Adds color to the header */
  text-align: center; /* Centers the header text */
}

/* Form styling */
.new-item-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff; /* White background for the form area */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}


/* Assuming your form has a class named 'new-item-form' and the text input is within this form */
input[type="text"] {
  width: 100%; /* Stretches the input to cover the full width */
  box-sizing: border-box; /* Includes padding and border in the element's total width */
  padding: 8px; /* Adds padding inside the input for better text visibility */
  margin: 0 0 10px 0; /* Adds margin to the bottom */
  border: 1px solid #ccc; /* Provides a subtle border */
  border-radius: 4px; /* Optional: Rounds the corners */
}



.content-container {
  width: 50%; /* Adjust width to your preference */
  max-width: 800px; /* Ensures the container doesn't get too wide on larger screens */
  padding: 20px;
  background-color: #fff; /* White background for the content area */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a bit of depth */
  border-radius: 8px; /* Optionally rounded corners */
}



.form-row {
  flex-grow: 1;
  margin-right: 10px;
}

input[type="text"], button, input[type="button"] {
  padding: 8px;
  font-size: 16px; /* Larger font size for better readability */
  border: 1px solid #ccc; /* Subtle border for inputs and buttons */
  border-radius: 4px; /* Rounded borders */
}

button {
  background-color: #5cb85c; /* Bootstrap success color for buttons */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #449d44; /* Darken button on hover */
}

/* List styling */
.list {
  list-style: none;
  padding: 0;
  position: relative
}

.list li {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.list input[type="checkbox"] {
  margin-right: 5px;
}

.btn-danger {
  background-color: #d9534f; /* Bootstrap danger color for delete buttons */
}

.btn-danger:hover {
  background-color: #c9302c;
}

/* Utility classes for alignment and visibility */
.nrg-inner-container {
  display: none; /* Hide phishing protection elements by default */
}


#deleter {
  margin-right: 100px;        
}
